* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:#F7F7FF;
    font-family: 'Roboto', sans-serif;   
    overflow-y: hidden;

}

#main {
    display:flex;
    flex-direction:row;
    overflow-y: hidden;
}

#entry {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    width:100%;
}

#leftSidebar {
    display:flex;
    flex-direction: column;
    height:100vh;
    width:20%;
    background-color:#AFB1C3;
    justify-content: flex-start;
    align-items:center;
    border-color:#2D334F;
    border-style:solid;
    border-width:1px;
    border-top-width: 0;
    border-bottom-width:0;
    overflow-y: auto;
    padding-bottom:8px;
}

.sidebarElement {
    width:90%;
    max-width:90%;
    min-height:6%;
    max-height:10%;
    background-color:#F7F7FF;
    margin-top:8px;
    border-color:#2D334F;
    border-style: solid;
    border-width: 1px;
    border-radius:5%;
    display:flex;
    align-items:center;
    justify-content: center;
    padding:6px;
    font-size:large;
}

.sidebarElementText {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

#topRow {
    display:flex;
    flex-direction:row;
}

#titleBox {
    color:black;
    padding-left:10px;
    padding-top:30px;
    display:inline-flex;
    flex-direction:row;
    justify-content: flex-start;
    flex:3;
}

#title{
    width:40vw;
    outline:none;
    background-color:#F7F7FF;
    border:none;
    margin:0;
    padding:0;
    border-bottom-width:1.5px;
    border-color:#2D334F;
    border-bottom-style:solid;
    font-size:xx-large;
    resize:none;
    font-family: 'Roboto', sans-serif;   
    max-width:40vw;
}

#buttonBox{
    display:inline-flex;
    flex-direction: row;
    flex:1;
    justify-content: flex-end;
    align-items:flex-end;
}

.button {
    border-style:solid;
    background-color:#2D334F;
    color:#F7F7FF;
    width:50px;
    height:40px;
    flex:1;
    max-width:80px;
    margin-right: 1rem;
    border-radius: 5%;
    text-align:center;
    line-height: 35px;
    outline:none;
    border:none;
}

#content {
    height:100vh;
    outline:none;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    font-size:larger;
    color:black;
    border:none;
    line-height:25px;
    font-family: 'Roboto', sans-serif;   
    background-color: #F7F7FF;
    overflow-y: auto;
}
.clickable {
    transition:0.22s;
    user-select:none;
}
.clickable:active {
    transform:translateY(10%);
}
.clickable:hover {
    cursor:pointer;
    opacity: 95%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}